<p-toolbar class="toolbar app-toolbar">
    <div class="ui-toolbar-group-right">
        <button pButton type="button" icon="pi pi-print" (click)="print()"></button>
    </div>
</p-toolbar>

<div class="app">
    <h1>NBA</h1>

    <h2>East Conference</h2>
    <div class="app-container">
        <p-card *ngFor="let team of teamsEast" class="app-container-card" styleClass="ui-card-shadow">
            <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
            <div class="app-container-box">
                <B>{{team.name}}</B>
            </div>
        </p-card>
    </div>

    <h2>West Conference</h2>
    <div class="app-container">
        <p-card *ngFor="let team of teamsWest" class="app-container-card" styleClass="ui-card-shadow">
            <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
            <div class="app-container-box">
                <B>{{team.name}}</B>
            </div>
        </p-card>
    </div>
</div>