<div class="app">

    <p-card class="team-card">
        <div class="ui-g">
            <div class="ui-lg-4 ui-sm-12">
                <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="img-details" />
            </div>
            <div class="ui-lg-4 ui-sm-12">
                <h1>{{team.name}}</h1>
                <p><b>Conference: </b>{{team.conference}}</p>
                <p><b>Division: </b>{{team.division}}</p>
                <p>{{team.win}} Wins x {{team.loss}} Loses</p>
            </div>
            <div class="ui-lg-4 ui-sm-12">
                    
            </div>
        </div>
    </p-card>

    <div class="app-container">
        <p-card *ngFor="let game of games">
            <div class="ui-g">
                <div class="ui-lg-3"></div>
                <div class="ui-lg-3 text-center">
                    <img src="Card" src="http://localhost:3000/img/{{game.homeTeam.nickname}}.png" class="img-details" />
                    <p><b>Score: {{game.homeScore}}</b></p>
                </div>
                <div class="ui-lg-3 text-center">
                    <img src="Card" src="http://localhost:3000/img/{{game.visitantTeam.nickname}}.png" class="img-details" />
                    <p><b>Score: {{game.visitantScore}}</b></p>
                </div>
                <div class="ui-lg-3"></div>
            </div>
        </p-card>
    </div>
    
    
</div>
