<p-progressSpinner *ngIf="request" class="app-spinner"></p-progressSpinner>
<div class="app" *ngIf="!request">
    <input class="search-box" type="text" pInputText maxlength="255" placeholder="Which team are you looking for?" />
    <p-button icon="pi pi-search"></p-button>


    <div class="app-container">

        <div class="app-container-list">
            <h2>Eastern Conference</h2>
            <p-card *ngFor="let team of teamsEast" class="app-container-card" styleClass="ui-card-shadow">
                <a routerLink="/team/{{team.id}}/{{team.teamId}}">
                    <div class="app-container-position">
                        {{teamsEast.indexOf(team)+1}}
                    </div>
                    <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
                    <div class="app-container-box">
                        <B>{{team.name}}</B>
                    </div>
                    <p class="app-container-box">{{team.win}}W x{{team.loss}}L</p>
                </a>
            </p-card>
        </div>

        <div class="app-container-list">
            <h2>Western Conference</h2>
            <p-card *ngFor="let team of teamsWest" class="app-container-card" styleClass="ui-card-shadow">
                <a routerLink="/team/{{team.id}}/{{team.teamId}}">
                    <div class="app-container-position">
                        {{teamsWest.indexOf(team)+1}}
                    </div>
                    <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
                    <div class="app-container-box">
                        <B>{{team.name}}</B>
                    </div>
                    <p class="app-container-box">{{team.win}}W x{{team.loss}}L</p>
                </a>
            </p-card>
        </div>

    </div>
</div>