$background:#e8e5e5;

.app-spinner{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.app{
    margin-top: 60px;

    h1, h2, h3{
        text-align: center;
    }

    .search-box{
        min-width: 240px;
        margin-left: 15px;
    }

    &-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        
        &-box{
            width: 100%;
            text-align: center;
            color: black;
            font-size: 1.4rem;
        }

        &-position{
            margin-left: 0;
            border: 1px solid black;
            border-radius: 50%;
            width: 30px;
            height: 30px;
            text-align: center;
            padding: 3px;
            background: $background;
            color: black;
            font-weight: bold;
        }
        
        &-card{
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin: 5px;
            justify-content: center;
            cursor: pointer;
            text-align: center;
            color: black;
        }

        &-card:hover{
            border: 2px solid red;
        }
        
        .logo-team{
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%; 
        }
    }
}