<div class="app">
    <input class="search-box" type="text" pInputText maxlength="255" placeholder="Which team are you looking for?" />
    <p-button icon="pi pi-search"></p-button>

    <h2>Eastern Conference</h2>
    <div class="app-container">
        <p-card *ngFor="let team of teamsEast" class="app-container-card" styleClass="ui-card-shadow">
            <a routerLink="/team/{{team.id}}">
                <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
                <div class="app-container-box">
                    <B>{{team.name}}</B>
                </div>
            </a>
        </p-card>
    </div>

    <h2>Western Conference</h2>
    <div class="app-container">
        <p-card *ngFor="let team of teamsWest" class="app-container-card" styleClass="ui-card-shadow">
            <a routerLink="/team/{{team.id}}">
                <img src="Card" src="http://localhost:3000/img/{{team.nickname}}.png" class="logo-team" />
                <div class="app-container-box">
                    <B>{{team.name}}</B>
                </div>
            </a>
        </p-card>
    </div>
</div>